body{
background:#eee   
}
a ,a:hover,a:focus,a:active,a:visited{
    text-decoration: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    color: #424242
    ;
}
.email-app {
    display: flex;
    flex-direction: row;
    
    border: 1px solid #e1e6ef;
}

/* .email-app nav {
    flex: 0 0 200px;
    padding: 0px 20px 0 0;
    position: absolute;
    right: 0;
    
} */
.right-toolbar-top
{
    position: absolute;
    right: 5px;
    font-size: 12px;
}
.right-toolbar-top select
{
    margin-right: 5px;
    font-size: 12px;
}
#breaking-news{
    right: 14px;
    position: absolute;
}
#breaking-news img{
    width: 120px;
}
.email-app nav .btn-block {
    margin-bottom: 15px;
}

.email-app nav .nav {
    flex-direction: column;
}

.email-app nav .nav .nav-item {
    position: relative;
}

.email-app nav .nav .nav-item .nav-link,
.email-app nav .nav .nav-item .navbar .dropdown-toggle,
.navbar .email-app nav .nav .nav-item .dropdown-toggle {
    color: #151b1e;
    border-bottom: 1px solid #e1e6ef;
}

.email-app nav .nav .nav-item .nav-link i,
.email-app nav .nav .nav-item .navbar .dropdown-toggle i,
.navbar .email-app nav .nav .nav-item .dropdown-toggle i {
    width: 20px;
    margin: 0 10px 0 0;
    font-size: 14px;
    text-align: center;
}

.email-app nav .nav .nav-item .nav-link .badge,
.email-app nav .nav .nav-item .navbar .dropdown-toggle .badge,
.navbar .email-app nav .nav .nav-item .dropdown-toggle .badge {
    float: right;
    margin-top: 4px;
    margin-left: 10px;
}

.email-app main {
    min-width: 0;
    flex: 1;
    padding-bottom: 10px;
}

.email-app .inbox .toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .inbox .messages {
    padding: 0;
    list-style: none;
}

.email-app .inbox .message {
    position: relative;
    padding: 1rem 1rem 1rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid #e1e6ef;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
    list-style: none;
}

.email-app .inbox .message:hover {
    background: #f9f9fa;
}

.email-app .inbox .message .actions {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    /* padding: 0 0 0 10px; */
    width: auto;
}
.magnifier-tool-plus,.magnifier-tool-minus
{
    background:#fff;
}
.email-app .inbox .message .actions .action {
    width: 2rem;
    margin-bottom: 0.5rem;
    color: #c0cadd;
    text-align: center;
    /* margin-top: 30px; */
}
.email-app .inbox .message .actions .action > span {
    margin-top: 30px;
}

.email-app .inbox .message a {
    color: #000;
}

.email-app .inbox .message a:hover {
    text-decoration: none;
}

/* #Article-Breaking-News{
    box-shadow: 0px 0px 0px 2px red;
    border-radius: 0px;
    
}
#Article-Selected{
    box-shadow: 0px 0px 3px 1px #1179ff;

}
#Article-Mouse-Over{
    box-shadow: 0px 0px 10px -1px #418ff4;
    
}
#Article-Default{
    border-radius: 0px;
} */

.email-app .inbox .message.unread .header,
.email-app .inbox .message.unread .title {
    font-weight: bold;
}

.email-app .inbox .message .header {
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 0.5rem;
}

.email-app .inbox .message .header .date {
    /* margin-left: auto; */
    display: block;
}

.email-app .inbox .message .title {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-app .inbox .message .description {
    font-size: 12px;
}

.email-app .message .toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .title {
    padding: 1rem 0;
    font-weight: bold;
}

.email-app .message .details .header {
    display: flex;
    padding: 1rem 0;
    margin: 1rem 0;
    border-top: 1px solid #e1e6ef;
    border-bottom: 1px solid #e1e6ef;
}

.email-app .message .details .header .avatar {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

.email-app .message .details .header .from {
    font-size: 12px;
    color: #9faecb;
    align-self: center;
}

.email-app .message .details .header .from span {
    display: block;
    font-weight: bold;
}

.email-app .message .details .header .date {
    margin-left: auto;
}

.email-app .message .details .attachments {
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-top: 3px solid #f9f9fa;
    border-bottom: 3px solid #f9f9fa;
}

.email-app .message .details .attachments .attachment {
    display: flex;
    margin: 0.5rem 0;
    font-size: 12px;
    align-self: center;
}

.email-app .message .details .attachments .attachment .badge {
    margin: 0 0.5rem;
    line-height: inherit;
}

.email-app .message .details .attachments .attachment .menu {
    margin-left: auto;
}

.email-app .message .details .attachments .attachment .menu a {
    padding: 0 0.5rem;
    font-size: 14px;
    color: #e1e6ef;
}

@media (max-width: 767px) {
    .email-app {
        flex-direction: column;
    }
    .email-app nav {
        flex: 0 0 100%;
    }
}

@media (max-width: 575px) {
    .email-app .message .header {
        flex-flow: row wrap;
    }
    .email-app .message .header .date {
        flex: 0 0 100%;
    }
}
.topbarmenu{
    display: flex;
    align-items: flex-end;

}
#secondspan{
    margin-top: 30px;
}
#searchtopmenu{
    display: flex;
}
#topmenubar{
    border-radius: 5px;
}
#secondtopmenu{
    display: flex;
}
.g-3, .gy-3{
    --bs-gutter-y: 0rem !important;

}
#dropdownMenuButton1{
    background-color: white;
    color: #424242;
}
#searchicon{
    display: inline-block;
    border: 1px solid #424242;
    padding: 6px 10px;
    border-radius: 2px;
    margin: 0 0 0 0px;
    color: #999b84;
}
/* #searchicon2{
    display: inline-block;
    border: 1px solid #424242;
    padding: 6px 10px;
    border-radius: 2px;
    margin: 0 0 0 -40px;   
}
#searchicon3{
    display: inline-block;
    border: 1px solid #424242;
    padding: 6px 10px;
    border-radius: 2px;
    margin: 0 0 0 -63px;   
}
#searchicon4{
    display: inline-block;
    border: 1px solid #424242;
    padding: 6px 10px;
    border-radius: 2px;
    margin: 0 0 0 -87px;   
}
#searchicon5{
    display: inline-block;
    border: 1px solid #424242;
    padding: 6px 10px;
    border-radius: 2px;
    margin: 0 0 0 27px;   
}

#topmenubar{
    padding: 0 0 0;
} */
#secondinput{
    position: relative;
    top: 50px;
}
#firstline{
    color: #7e8a98;
}
#firsttitile{
    color: #164072;
}
.custom-gray
{
    color: #ececec;
}
.disabled
{
    background-color: #ececec !important;
}
a.border-primary:hover
{
    background-color: rgb(228, 249, 252)!important;
}
.page-link {
    padding: .2rem .75rem !important;
}
.disabled > i
{
    color: #999b84;
    
}
.pagination .page-link
{
    margin-right: 9px;
}
.ml-1
{
    margin-left: 5px;
}


#main-gallery .col-1
{
    width: calc(100% /9);
}
.checkbox-button {
cursor: pointer;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.checkbox-button__input {
    opacity: 0;
    position: absolute;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    vertical-align: middle;
    background-color: inherit;
    color: #0a58ca;
    border: 2px solid #666;
}

.checkbox-button__input:checked+.checkbox-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #0a58ca;
}

.checkbox-button__input:checked+.checkbox-button__control {
    border-color: #0a58ca;
}

.checkbox-button__control {
transform: scale(0.75);
}