li{
    text-decoration: none;
    list-style: none;
}
#modal-top li{
    display: inline-block;
    font-size: 12px;
    color: #aaaeb9;

}
#modal-top-article ul{
    display: flex;
    font-size: 12px;
    color: #aaaeb9;
}
#modal-top-article ul li{
    padding: 15px 0 0 20px;
}
.modal-footer-left{
    position: absolute;
    left: 0;
    padding: 0 0 0 40px;
    
}
.modal-footer-left a{
    color: #aaaeb9;
    border: 1px solid;
    padding: 3px 4px;
    border-radius: 2px;

}
.modal-footer-right a{
    color: #aaaeb9;
    padding: 3px 4px;
    border: 1px solid;
    

}
.modal-header-right{
    position: absolute;
    right: 95px;
    transform: scale(2);
}
.modal-header-right a{
    
    border: 1px solid;
    transform: scale(4.5);
    color: #ececec;
}
#menu > li:hover{
    background: #2d2d2d;
}
#exampleModalLabel{
    color: #193b68;
}
.btn-close{
    border: 1px solid;
    transform: scale(1.5);
    right: 20;
    position: absolute;
    right: 20px;
    color: #ececec;
}
#modal-top ul{
    margin-top: 20px;
    padding: 0 0 0 50px;
}
.modal-header-first-button{
    background: transparent;
    padding: 3px 9px 2px 5px;
    margin: 0 -5px 0 0px;
}
.modal-header-first-button i{
    color: #33597e;
    font-size: 12px;
    margin: 0px 0 5px 5px;
}
#modal-header-close{
    padding: 23px 20px 6px 4px;
    margin: 0px -10px 0px 1px;
    font-size: 12px;
}
.modal-footer-right{
    padding: 0 15px 0 0;
}
.article{
    padding: 30px 0 30px 0;
}
.menu-right{
    background-color: #f9f9fb;
    padding: 50px 0px 15px 15px;
}
.image-title{
    color: #99acbd;
}
.image-detail-1{
    color: #33597e;
}
.footer-icons{
    justify-content: center;
    display: flex;
}
.footer-icons a{
    color: #b0bcd4;
    
    padding: 3px 6px;
    margin: 3px 3px;
}
.footer-icons button{
    color: #b0bcd4;
    background: transparent;
    
    padding: 3px 6px;
    margin: 3px 3px;
}
.modal-footer-left button{
    color: #99abc1;
}
.modal-footer-right button{
    color: #99abc1;
}
.menu-right-down{
    padding: 10px 0;
    background-color: white;
}
.photo .photomiddle{
    text-align-last:center !important;
    
}
.photo .photomiddle1{
    text-align-last:center !important;
    
}
.photo{
    background-color: white;
}
.photomiddle img{
    width: 100%;
    padding-top: 10%;
}
.photomiddle1 img{
    
    padding-top: 10%;
}
.modal-footer-left > .plus{
    background: transparent;
}
#modal-footer-left-article{
    background: transparent;
}
.plus{
    background: transparent !important;
}
.right-aside{
    padding: 0 0px;
}
.post-meta-modal ul{
    margin: 13px 0 0 7px;
    padding: 0 0 0 0px;
}
.image-detail-modal{
    padding: 6px 0px 12px 5px;
    color: #324877;
}
.image-detail-modal2{
    padding: 1px 0px 12px 5px;
}
.footer-icons-modal{
    position: absolute;
    bottom: 0;
    padding: 14px 40px;

}
.footer-icons-modal button{
    background: transparent;
    color: #aaaeb9;
}
#rightmenubar{
    background: #171717;
}
.modal-body{
    padding-right: 40px;
    text-align: justify;
}

.down-footer ul li{
    display: inline-block;
    color: #b6becc;
    font-size: 12px;
    padding: 0 10px 0 0px;
}
.down-footer{
    display: flex;
    border-top: 1px solid #b6becc;
    
}
.down-footer-right{
    right: 15px;
    position: absolute;
}
.down-footer ul{
    margin-bottom: 0px !important;
}
.down-footer-left ul{
    padding: 0 0 0 0px;
}
#main-gallery{
    margin: 0 0px !important;
}
#input-group-text1{
    border: none;
    position: absolute;
    background: transparent;
    right: 0;
    margin: 1px 3px -3px 0px;
}