body{
  background: #ececec;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.white
{
  color: #fff;
}
.d-flex span{
  color: gray;
}
.d-flex button span{
  color: #fff;
}
.d-flex span:hover{
  color: #fff;
}
.nav-search-area
{
  /* background: #fff; */
  border-radius: 5px;
  margin: 6px 2px 0 29px;
}
#datepicker{
  width: 40%;
}
.nav-search-area > *
{
  border: none;
  border-radius: 5px;
  background: #fff;
}
.nav-btns
{
  margin-top: 15px;
}
.nav-btns > *
{
  font-weight: bold;
}
.nav-hero
{
  width: 100%;
  justify-content: center;
  background: #2d2d2d;
}
.nav-hero a span
{
  margin-top: 15px;
  color: #fff;
}
.nav-dark
{
  background: #171717;
}
.border-kop
{
  border: 1px solid rgba(121, 118, 118, 0.158);
}
#menu
{
  margin-top: 15px;
}

#menu > .li-active
{
  background: #2d2d2d;
  color: #fff !important;
}
.btn-dark-primary
{
  background: #0B5EAB;
}

#menu li
{
  background: #171717;  
}
.active-span
{
  color: #fff !important;
}
.main-row
{
  margin-right: 0 !important;
}
.w-10
{
  width: 10%;
}
/* .card-body
{
  border: 1px solid rgba(0,0,0,.125);
}  */
.r-icon
{
  right: 10px;
}
.card , .col-3
{
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}
.card-body
{
  padding-bottom: 47px !important;
}

.card-img-top
{
  border-top-left-radius: .4rem!important;
  border-top-right-radius: .4rem!important;
}
.custom-gray
{
  color: #757575;
  font-size: 11px;
  /* padding: 0 0 6px 0px; */
}
.custom-aside
{
  background: #171717;
}
#custom-gray3{
  position: absolute;
  right: 0px;
}
#custom-gray2{
  position: absolute;
  right: 14px;
}
#position-absolute-icon{
  right: 0px;
}

.card{
  height: 265px !important;
}
#position-absolute-icon a{
  font-size: 4px;
  border-color: #d4cbcb !important;
}
.card-title
{
  font-size: 0.7rem;
  font-weight: bold;
}
.datepicker-switch.dropdown-toggle::after {
  color: blue;
}
.range
{
  background: #1478ff !important;
  color: #fff !important;
}
.selected
{
  background: #1478ff !important;
}
.table-condensed > thead > tr >th , .table-condensed > tbody > tr >td
{
  padding: 10px;
  font-weight: 500;
}
#datepicker_start
{
  text-align: left;
}
#datepicker_start:focus
{
  box-shadow: none;
}
#datepicker i
{
  color: #1478ff;
}
.datepicker-dropdown.datepicker-orient-bottom:before
{
  display: none;
}
.datepicker-dropdown.datepicker-orient-bottom:after
{
  display: none;
}
.cal-prev-btn
{
  font-weight: bold;
}
.cal-next-btn
{
  font-weight: bold;
}
.custom-modal-btn
{
  background: transparent;
  height: 53px;
  width: 53px;
}
.modal-title
{
  padding-left: 16px;
}
/* media queries */
@media (max-width: 576px) {
  .main-row
  {
    margin-right: 1px !important;
    margin-left: 1px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-row
  {
    margin-right: 0 !important;
  }
}
/* .form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }
.form-control::-ms-input-placeholder { color: white; } */
/* 
Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { } */